graft geotime_classify
graft tests

include .editorconfig

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include geotime_classify/models/LSTM_RNN_Geotime_Classify_v_0.07_dict.pth
include geotime_classify/datasets/city.csv
include geotime_classify/datasets/continent_code.csv
include geotime_classify/datasets/country.csv
include geotime_classify/datasets/country_lookup.csv
include geotime_classify/datasets/county_cc_c_number.csv
include geotime_classify/datasets/NA_states_provinces.csv

include tox.ini

global-exclude *.py[cod] __pycache__/* *.so *.dylib