graft cartwright
graft tests

include .editorconfig

include AUTHORS.rst
include CHANGELOG.md
include CONTRIBUTING.rst
include LICENSE
include README.md
include requirements.txt
include requirements-dev.txt
include cartwright/models/LSTM_RNN_CartWright_v_0.0.0.1_dict.pth
include cartwright/resources/city.csv
include cartwright/resources/continent_lookup.csv
include cartwright/resources/country_lookup.csv
include cartwright/resources/states_provinces_lookup.csv

include tox.ini

global-exclude *.py[cod] __pycache__/* *.so *.dylib